html
  background-color: $backgroundColor
  body
    background-color: $backgroundColor
    .theme-container
      min-height: calc(100vh - 10.3125rem)
      .navbar
        display: flex
        align-items: center
        height: 4.5rem
        background-color: $backgroundColor
        border-bottom-width: 0.125rem
        .site-name
          font-size: 1.5rem
        .links
          background-color: transparent
          height: 3rem
          align-items: center
          .search-box
            margin-right: 1.5rem
            input
              font-size: 1.125rem
              background-color: transparent
              border-width: 0.125rem
              color: $textColor
          .nav-links
            font-size: 1.25rem
            .nav-item:first-child
              margin-left: 0
            .nav-item
              margin-left: 1.75rem
              .dropdown-title
                font-size: 1.25rem
              .nav-dropdown
                text-align: center
                background-color: $backgroundColor
                border: 0.125rem solid $borderColor
                padding: 0.8rem 0
                .dropdown-item
                  padding-bottom: 0.4rem
                  h4
                    border-top: 0.0625rem solid $borderColor
                    cursor: text
                    margin: 0.45rem 0.375rem 0
      .home
        padding: 8rem 0 0
        .hero
          margin-left: 2rem
          margin-right: 2rem
          border: 0.125rem solid $darkBorderColor
          box-shadow: 0 0.5rem 1rem 0 $darkBorderColor
          transition: box-shadow 0.2s
          border-radius: 5.625rem
          margin-bottom: 0.625rem
          background-image: radial-gradient(circle at center center, #2c303a, $backgroundColor)
          padding: 2rem
          img
            transition: transform 0.2s
        .hero:hover
          box-shadow: 0.125rem 0.5rem 1rem 0.125rem #0b0c0f
          img
            transform: scale(1.1)
        .features
          margin-left: 2rem
          margin-right: 2rem
          border-top: 0.125rem solid $bordercolor
          border-bottom: 0.125rem solid $bordercolor
          .feature
            text-align: center
            h2
              font-size: 1.4rem
