html
  background-color: $backgroundColor
  body
    background-color: $backgroundColor
    .home
      padding: 0
      .hero
        margin-left: 2rem
        margin-right: 2rem
        border: 0.125rem solid $darkBorderColor
        box-shadow: 0 0.5rem 1rem 0 $darkBorderColor
        border-radius: 5.625rem
        margin-bottom: 0.625rem
        padding: 2rem
      .features
        margin-left: 2rem
        margin-right: 2rem
        border-top: 0.125rem solid $borderColor
        border-bottom: 0.125rem solid $borderColor
        .feature
          text-align: center
          h2
            font-size: 1.4rem
