html
  background-color: $backgroundColor
  body
    background-color: $backgroundColor
    .home
      padding: 8rem 0 0
      .hero
        margin-left: 2rem
        margin-right: 2rem
        border: 0.125rem solid $darkBorderColor
        box-shadow: 0 0.5rem 1rem 0 $darkBorderColor
        transition: box-shadow 0.2s
        border-radius: 5.625rem
        margin-bottom: 0.625rem
        background-image: radial-gradient(circle at center center, #2c303a, $backgroundColor)
        padding: 2rem
        img
          transition: transform 0.2s
      .hero:hover
        box-shadow: 0.125rem 0.5rem 1rem 0.125rem #0b0c0f
        img
          transform: scale(1.1)
      .features
        margin-left: 2rem
        margin-right: 2rem
        border-top: 0.125rem solid $borderColor
        border-bottom: 0.125rem solid $borderColor
        .feature
          text-align: center
          h2
            font-size: 1.4rem
